/angkot.html
/angkot1.js
/angkot3.html
/angkot4.html
/belajar.html
/bersarang.html
/example.html
/game.html
/ganjilgenap.html
/index.html
/index.js
/makanan.html
/new.html
/pengulangan.html
/pop.html
/pop.js
/script.js
/switch.html
/test.html
/test.htmll
/tipedata.html
/ulang.html
/while.html